
<ion-view hide-nav-bar="true" style="background: dimgray;" class="page-sign-in-up">
  <ion-content>
    <div class="header-section">
      <div class="logo-wrapper">
        <img src="img/longshoreboats_logo.png" />
      </div>
      <div class="row">
        <div class="selected-tab  col col-50">
          <button class="button button-block button-small button-clear sign-btn">SIGN IN</button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-small button-clear sign-btn" ng-click="goToSignUp()">SIGN UP</button>
        </div>
      </div>
    </div>

    <form name="loginForm" ng-controller="LoginCtrl" novalidate>
      <div class="body-section">
        <div class="list">
          <a class="item item-icon-left" >
            <i class="icon">
              <img src="img/ic-email.png" />
            </i>
            <input placeholder="EMAIL"  type="email" ng-model="user.email" required></input>
          </a>
          <a class="item item-icon-left">
            <i class="icon">
              <img src="img/ic-password.png" />
            </i>
            <input type="password" placeholder="PASSWORD" ng-model="user.password" required></input>
          </a>
        </div>
      </div>
      <div class="footer-section">
        <button class="button button-block continue-btn" ng-click="login(user)">Continue</button>
        <button class="button button-clear button-block terms-btn" ng-click="goToForgotPassword()">Forgot Password?</button>
      </div>
    </form>

  </ion-content>
</ion-view>
