<ion-modal-view style="">
  <ion-header-bar class="bar-dark" style="">
    <h1 class="title" style="">
    <div style="color: white">{{theConvo.sender_name}}</div>
    </h1>
    <button class="button button-clear button-primary" ng-click="closeChatModal()">Cancel</button>
  </ion-header-bar>

  <ion-content style="margin-top:10px; margin-bottom: 15px">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getConversations()">
    </ion-refresher>

    <div class="list" id="messages">
          <li class="item item-text-wrap no-border {{ isNotCurrentSender(msg.sender_id) }}" ng-repeat="msg in oldMessages">
            <div class="msg">
              <div class="">
              <p>
                <!--<div class="user">{{msg.sender_name }}</div>-->
                <div class="message">{{ msg.body }}</div>
              </p>
              <small>{{ humanize(msg.time) }}</small>
              </div>
            </div>
          </li>
      </div>
      <div class="list" id="messages" ng-if="messages.length > 0">
            <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in messages">
              <div class="msg">
                <div class="">
                <p>
                  <!--<div class="user">{{ msg.user }}</div>-->
                  <div class="message">{{ msg.text }}</div>
                </p>
                <small>{{ humanize(msg.time) }}</small>
                </div>
              </div>
            </li>
        </div>
  </ion-content>

  <ion-footer-bar id="footerChat" fix class="bar-positive item-input-inset has-content" style="height: 55px; padding:0; background-color: #444; border-top: 2px solid #444;">
      <label class="item-input-wrapper">
        <input type="text" id="message" name="text" ng-model="text" placeholder="Type message">
      </label>
       <a class="button button-icon icon ion-android-send" ng-click="sendTextMessage(text)"></a>
  </ion-footer-bar>
</ion-modal-view>
